
{% extends "shop/base.html" %}
{% load static %}
{% block title %}
  Login Page
{% endblock title %}

{% block content %}

{% include "shop/header.html" %}
<main class="main-content">
	    <!--== Start Account Area Wrapper ==-->
		<section>
			<div class="container" data-padding-top="62"> 
			  <h4 class="fz-24 mb-25">Log in to your account</h4>
			  <div class="row">
				<div class="col-12">
				  <div class="login-form-content">
					<div class="login-form">
					  <form action="#" method="post">
						{% csrf_token %}
						<div class="form-group row">
						  <label class="col-md-3" for="frm_email">Email</label>
						  <div class="col-md-6">
							<input name="email" id="email" class="form-control" type="email">
						  </div>
						</div>
						<div class="form-group row">
						  <label class="col-md-3" for="frm_pass">Password</label>
						  <div class="col-md-6">
							<div class="pass-content">
							  <input name="password" type="password" class="form-control" id="frm_pass">
							  <span class="show-pass" onclick="myFunction()">show</span>
							</div>
						  </div>
						</div>
						<div class="form-group row mb-15">
						  <div class="col-12 text-center">
							<a class="btn-forgot" href="#/">Forgot your password?</a>
							<input class="btn-save" type="submit" value="Login">
						  </div>
						</div>
					  </form>
					</div>
					<a class='btn-create-account' href='{% url "accounts:signup_page" %}'>No account? Create one here</a>
				  </div>
				</div>
			  </div>
			</div>
		  </section>
		  <!--== End Account Area Wrapper ==-->
	  

</main>
<script>
	function myFunction() {
	  var x = document.getElementById("frm_pass");
	  if (x.type === "password") {
		x.type = "text";
	  } else {
		x.type = "password";
	  }
	}
	</script>
  
{% endblock content %}

