    <!--== Start Blog Area Wrapper ==-->
    <section class="blog-area">
      <div class="container pt-95 pb-100 pt-lg-70 pb-lg-70">
        <div class="row">
          <div class="col-sm-8 m-auto">
            <div class="section-title text-center">
              <h2 class="title">Latest Blogs</h2>
              <div class="desc">
                <p>Present posts in a best way to highlight interesting moments of your blog.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="blog-slider owl-carousel owl-theme">
              <div class="item">
                <!--== Start Blog Item ==-->
                <div class="post-item">
                  <div class="inner-content">
                    <div class="thumb">
                      <a href='/argima/argima/blog'><img src="assets/img/blog/01.jpg" class="img" alt="Image-HasTech"></a>
                    </div>
                    <div class="content">
                      <a class='category' href='/argima/argima/blog'>Fashion</a>
                      <h4 class="title"><a href='/argima/argima/single-blog'>This is Secound Post For XipBlog</a></h4>
                      <div class="meta">
                        <span>Posted by</span>
                        <a class='author' href='/argima/argima/blog'>Demo Posthemes</a>
                        <a class='date' href='/argima/argima/blog'>Sep 26TH, 2020</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!--== End Blog Item ==-->
              </div>
              <div class="item">
                <!--== Start Blog Item ==-->
                <div class="post-item">
                  <div class="inner-content">
                    <div class="thumb">
                      <a href='/argima/argima/blog'><img src="assets/img/blog/02.jpg" class="img" alt="Image-HasTech"></a>
                    </div>
                    <div class="content">
                      <a class='category' href='/argima/argima/blog'>Fashion</a>
                      <h4 class="title"><a href='/argima/argima/single-blog'>This is Secound Post For XipBlog</a></h4>
                      <div class="meta">
                        <span>Posted by</span>
                        <a class='author' href='/argima/argima/blog'>Demo Posthemes</a>
                        <a class='date' href='/argima/argima/blog'>Sep 26TH, 2020</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!--== End Blog Item ==-->
              </div>
              <div class="item">
                <!--== Start Blog Item ==-->
                <div class="post-item">
                  <div class="inner-content">
                    <div class="thumb">
                      <a href='/argima/argima/blog'><img src="assets/img/blog/03.jpg" class="img" alt="Image-HasTech"></a>
                    </div>
                    <div class="content">
                      <a class='category' href='/argima/argima/blog'>Fashion</a>
                      <h4 class="title"><a href='/argima/argima/single-blog'>This is Secound Post For XipBlog</a></h4>
                      <div class="meta">
                        <span>Posted by</span>
                        <a class='author' href='/argima/argima/blog'>Demo Posthemes</a>
                        <a class='date' href='/argima/argima/blog'>Sep 26TH, 2020</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!--== End Blog Item ==-->
              </div>
              <div class="item">
                <!--== Start Blog Item ==-->
                <div class="post-item">
                  <div class="inner-content">
                    <div class="thumb">
                      <a href='/argima/argima/blog'><img src="assets/img/blog/04.jpg" class="img" alt="Image-HasTech"></a>
                    </div>
                    <div class="content">
                      <a class='category' href='/argima/argima/blog'>Fashion</a>
                      <h4 class="title"><a href='/argima/argima/single-blog'>This is Secound Post For XipBlog</a></h4>
                      <div class="meta">
                        <span>Posted by</span>
                        <a class='author' href='/argima/argima/blog'>Demo Posthemes</a>
                        <a class='date' href='/argima/argima/blog'>Sep 26TH, 2020</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!--== End Blog Item ==-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Blog Area Wrapper ==-->