{% extends "shop/base.html" %}
{% load static %}
{% block title %} 
Compare
{% endblock title %} 
{% block content %}
  


{% include "shop/header.html" %}
<main class="main-content">
    <section class="product-area">
        <div class="container" data-padding-top="62">
          <div class="shopping-compare-wrap">
            <h4 class="title fz-24 mb-0">Products compare</h4>
            <div class="poscompare-table-container">
              <div class="poscompare-product-tr mb-30">
                <div class="poscompare-product-td">
                  <a href="{% url 'shop:clear_compare' %}" class="poscompare-remove-all">Remove all products</a>
                </div>
                {% for item in compare %}
                <div class="poscompare-product-td">
                  <div class="poscompare-product">
                    <div class="product-thumb">
                      <a href='{{item.product.get_absolute_url}}'>
                        <img src="{{item.product.image.url}}" alt="{{item.product.name}}">
                      </a>
                      <a href="{% url 'shop:remove_from_compare' item.product.id %}" class="poscompare-remove">Remove</a>
                    </div>
                    <div class="product-info">
                      <h4 class="title"><a href='{{item.product.get_absolute_url}}'>{{item.product.name}}</a></h4>
                      <div class="prices">
                        <span class="price-old visually-hidden">€{{item.product.price}}</span>
                        <span class="price text-black">€{{item.product.price}}</span>
                      </div>
                      <a class='btn-product-add' href='{% url 'cart:add_to_cart' item.product.id %}'>Add to cart</a>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
              
              <div class="poscompare-product-tr poscompare-data-list list-bg-color">
                
                <div class="poscompare-product-td">
                  <span class="title">Category</span>
                </div>
                {% for item in compare %}
                <div class="poscompare-product-td">
                  <span class="span">{{item.product.category.name}}</span>
                </div>
                {% endfor %}
              </div>
              
              <div class="poscompare-product-tr poscompare-data-list">
                <div class="poscompare-product-td">
                  <span class="title">Paper Type</span>
                </div>
                {% for item in compare %}
                <div class="poscompare-product-td">
                  <span class="span">{{item.product.category.name}}</span>
                </div>
                {% endfor %}
              </div>
              <div class="poscompare-product-tr poscompare-data-list list-bg-color">
                <div class="poscompare-product-td">
                  <span class="title">Color</span>
                </div>
                {% for item in compare %}
                <div class="poscompare-product-td">
                  <span class="span">{{item.product.category.name}}</span>
                </div>
                {% endfor %}
              </div>
              <div class="poscompare-product-tr poscompare-data-list">
                <div class="poscompare-product-td">
                  <span class="title">Size</span>
                </div>
                {% for item in compare %}
                <div class="poscompare-product-td">
                  <span class="span">{{item.product.category.name}}</span>
                </div>
                {% endfor %}
              </div>
              <div class="poscompare-product-tr poscompare-data-list list-bg-color">
                <div class="poscompare-product-td">
                  <span class="title">Frame Size</span>
                </div>
                {% for item in compare %}
                <div class="poscompare-product-td">
                  <span class="span">60x90cm</span>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </section>
</main>
{% include "shop/footer.html" %}
{% endblock content %}  