    {% load static %}
    <!--== Start Product Category Area Wrapper ==-->
    <section class="product-area product-category-area">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 m-auto">
            <div class="section-title text-center">
              <h2 class="title">Popular Categories</h2>
              <div class="desc">
                <p>Some of our popular categories include cosmetic</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="product-categorys-col5-slider owl-carousel owl-theme">
              <div class="item">
                <div class="product-category-item">
                  <div class="inner-content">
                    <div class="thumb">
                      <img src="{% static 'shop/img/makeup.jpeg' %}" alt="Image-HasTech" class="img">
                    </div>
                    <div class="content">
                      <p class="product-number">13 products</p>
                      <h4 class="title"><a href='{% url "shop:product_list" %}'>Makeup</a></h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="product-category-item">
                  <div class="inner-content">
                    <div class="thumb">
                      <img src="{% static 'shop/img/skincare.jpeg' %}" alt="Image-HasTech" class="img">
                    </div>
                    <div class="content">
                      <p class="product-number">13 products</p>
                      <h4 class="title"><a href='{% url "shop:product_list" %}'>Skin Care</a></h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="product-category-item">
                  <div class="inner-content">
                    <div class="thumb">
                      <img src="assets/img/shop/category/03.jpg" alt="Image-HasTech" class="img">
                    </div>
                    <div class="content">
                      <p class="product-number">13 products</p>
                      <h4 class="title"><a href='{% url "shop:product_list" %}'>Health Care</a></h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="product-category-item">
                  <div class="inner-content">
                    <div class="thumb">
                      <img src="assets/img/shop/category/04.jpg" alt="Image-HasTech" class="img">
                    </div>
                    <div class="content">
                      <p class="product-number">13 products</p>
                      <h4 class="title"><a href='{% url "shop:product_list" %}'>Makeup Tools</a></h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="product-category-item">
                  <div class="inner-content">
                    <div class="thumb">
                      <img src="assets/img/shop/category/01.jpg" alt="Image-HasTech" class="img">
                    </div>
                    <div class="content">
                      <p class="product-number">13 products</p>
                      <h4 class="title"><a href='{% url "shop:product_list" %}'>Skin Care Tools</a></h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="product-category-item">
                  <div class="inner-content">
                    <div class="thumb">
                      <img src="assets/img/shop/category/02.jpg" alt="Image-HasTech" class="img">
                    </div>
                    <div class="content">
                      <p class="product-number">13 products</p>
                      <h4 class="title"><a href='{% url "shop:product_list" %}'>Nail Art & Tools</a></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Product Category Area Wrapper ==-->
