    <!--== Start Feature Area Wrapper ==-->
    <div class="feature-area">
      <div class="container-fluid bg-theme-color">
        <div class="row">
          <div class="col-xl-3 col-sm-6">
            <div class="feature-icon-box">
              <div class="inner-content">
                <div class="icon-box">
                  <i class="fa-solid fa-truck-fast"></i>
                </div>
                <div class="content">
                  <h5 class="title">Free Shipping</h5>
                  <p>On all orders over $75.00</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6">
            <div class="feature-icon-box">
              <div class="inner-content">
                <div class="icon-box">
                  <i class="fa-solid fa-money-bill"></i>
                </div>
                <div class="content">
                  <h5 class="title">Free Returns</h5>
                  <p>Returns are free within 9 days</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6">
            <div class="feature-icon-box">
              <div class="inner-content">
                <div class="icon-box">
                  <i class="fa-solid fa-headset"></i>
                </div>
                <div class="content">
                  <h5 class="title">Support 24/7</h5>
                  <p>Contact us 24 hours a day</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6">
            <div class="feature-icon-box">
              <div class="inner-content">
                <div class="icon-box">
                  <i class="fa-regular fa-credit-card"></i>
                </div>
                <div class="content">
                  <h5 class="title">100% Payment Secure</h5>
                  <p>Your payment are safe with us.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--== End Feature Area Wrapper ==-->