    <!--== Start Testimonial Area Wrapper ==-->
    <section class="testimonial-area">
      <div class="container pt-15 pb-95 pb-lg-70 pt-lg-5">
        <div class="row">
          <div class="col-sm-8 m-auto">
            <div class="section-title text-center">
              <h2 class="title">Client Testimonials</h2>
              <div class="desc">
                <p>What our happy customers says !</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="testimonials-slider testi-first-active owl-carousel owl-theme">
              <div class="item">
                <!--== Start Testimonial Item ==-->
                <div class="testimonial-item testi-height-style matchHeight">
                  <div class="testi-inner-content">
                    <div class="testi-author">
                      <div class="testi-thumb">
                        <img src="assets/img/testimonial/01.png" alt="Image-HasTech" class="img">
                      </div>
                      <div class="testi-info">
                        <span class="name">orando BLoom</span>
                        <span class="email">demo@example.com</span>
                      </div>
                    </div>
                    <div class="testi-content">
                      <p>All Perfect !! I have three sites with magento , this theme is the best !! Excellent support , advice theme installation package , sorry for English, are Italian but I had no problem !! Thank you !</p>
                      <div class="testi-info">
                        <span class="name">orando BLoom</span>
                        <span class="email">demo@example.com</span>
                      </div>
                    </div>
                  </div>
                </div>
                <!--== End Testimonial Item ==-->
              </div>
              <div class="item">
                <!--== Start Testimonial Item ==-->
                <div class="testimonial-item testi-height-style matchHeight">
                  <div class="testi-inner-content">
                    <div class="testi-author">
                      <div class="testi-thumb">
                        <img src="assets/img/testimonial/02.png" alt="Image-HasTech" class="img">
                      </div>
                      <div class="testi-info">
                        <span class="name">orando BLoom</span>
                        <span class="email">demo@example.com</span>
                      </div>
                    </div>
                    <div class="testi-content">
                      <p>All Perfect !! I have three sites with magento , this theme is the best !! Excellent support , advice theme installation package , sorry for English, are Italian but I had no problem !! Thank you !</p>
                      <div class="testi-info">
                        <span class="name">orando BLoom</span>
                        <span class="email">demo@example.com</span>
                      </div>
                    </div>
                  </div>
                </div>
                <!--== End Testimonial Item ==-->
              </div>
              <div class="item">
                <!--== Start Testimonial Item ==-->
                <div class="testimonial-item testi-height-style matchHeight">
                  <div class="testi-inner-content">
                    <div class="testi-author">
                      <div class="testi-thumb">
                        <img src="assets/img/testimonial/01.png" alt="Image-HasTech" class="img">
                      </div>
                      <div class="testi-info">
                        <span class="name">orando BLoom</span>
                        <span class="email">demo@example.com</span>
                      </div>
                    </div>
                    <div class="testi-content">
                      <p>All Perfect !! I have three sites with magento , this theme is the best !! Excellent support , advice theme installation package , sorry for English, are Italian but I had no problem !! Thank you !</p>
                      <div class="testi-info">
                        <span class="name">orando BLoom</span>
                        <span class="email">demo@example.com</span>
                      </div>
                    </div>
                  </div>
                </div>
                <!--== End Testimonial Item ==-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Testimonial Area Wrapper ==-->