{% load static %}
{% block topbar %}
  
<div class="container-fluid">
    <div class="row bg-secondary py-2 px-xl-5">
        <div class="col-lg-6 d-none d-lg-block">
            <div class="d-inline-flex align-items-center">
                <a class="text-dark" href="">FAQs</a>
                <span class="text-muted px-2">|</span>
                <a class="text-dark" href="">Help</a>
                <span class="text-muted px-2">|</span>
                <a class="text-dark" href="">Support</a>
            </div>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <div class="d-inline-flex align-items-center">
                <a class="text-dark px-2" href="">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="text-dark px-2" href="">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="text-dark px-2" href="">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a class="text-dark px-2" href="">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="text-dark pl-2" href="">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row align-items-center py-3 px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a href="" class="text-decoration-none">
                <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
            </a>
        </div>
        <div class="col-lg-6 col-6 text-left">
            <form action="">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for products">
                    <div class="input-group-append">
                        <span class="input-group-text bg-transparent text-primary">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-6 text-right">
            <a href="" class="btn border">
                <i class="fas fa-heart text-primary"></i>
                <span class="badge">0</span>
            </a>
            <a href="" class="btn border">
                <i class="fas fa-shopping-cart text-primary"></i>
                <span class="badge">0</span>
            </a>
        </div>
    </div>
</div>








    <!-- Top bar -->
    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-xl-5">
          <div class="col-lg-6 d-none d-lg-block">
            <div class="d-inline-flex align-items-center">
              <a href="" class="text-dark">FAQs</a>
              <span class="text-muted px2">|</span>
              <a href="" class="text-dark">Help</a>
              <span class="text-muted px2">|</span>
              <a href="" class="text-dark">Support</a>
              <span class="text-muted px4">|</span>
              <a href="contact.html" class="text-dark">Contact</a>
            </div>
          </div>
          <div class="col-lg-6 text-center text-lg-right">
            <div class="d-inline-flex align-items-center">
              <a class="text-dark px-2" href="">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a class="text-dark px-2" href="">
                <i class="fab fa-twitter"></i>
              </a>
              <a class="text-dark px-2" href="">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a class="text-dark px-2" href="">
                <i class="fab fa-instagram"></i>
              </a>
              <a class="text-dark pl-2" href="">
                <i class="fab fa-youtube"></i>
              </a>
            </div>
          </div>
        </div>
  
        <div
          class="row align-items-center py-3 px-xl-5"
          style="background-color: palevioletred"
        >
          <div class="container-fluid">
            <button
              type="button"
              class="navbar-toggler"
              data-toggle="collapse"
              data-target="#navbarCollapse"
            >
              <i class="navbar-toggler-icon fas fa-bars text-primary"></i>
            </button>
            <div
              class="collapse navbar-collapse justify-content-between"
              id="navbarCollapse"
            >
              <div class="navbar-nav-1 mr-auto py-0">
                <a href="" class="nav-item nav-link active">Orders</a>
                <a href="" class="nav-item nav-link">Settings</a>
                <a href="detail.html" class="nav-item nav-link">Logout</a>
                <div class="nav-item dropdown">
                  <a
                    href="#"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    >Pages</a
                  >
                  <div class="dropdown-menu rounded-0 m-0">
                    <a href="" class="dropdown-item">Shopping Cart</a>
                    <a href="" class="dropdown-item">Checkout</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 d-lg-block text-center">
            <a href="" class="text-decoration-none">
              <img style="height: 150px;" src="{% static "shop/img/logo.PNG" %}"
              alt="Logo">
            </a>
          </div>
          <div class="col-lg-3 col-6 text-center">
            <form action="">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" />
                <div class="input-group-append">
                  <span class="input-group-text bg-transparent text-primary">
                    <i class="fa fa-search"></i>
                  </span>
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-6 col-6 text-right">
            <a href="" class="btn border-0">
              <i class="fas fa-shopping-cart text-primary"></i>
              <span class="badge">0</span>
            </a>
  
            <a href="" class="btn border-0">
              <i class="fas fa-user text-primary"></i>
            </a>
          </div>
        </div>
      </div>
{% endblock topbar %}