{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  Wishlist
{% endblock title %}

{% block content %}
  {% include "shop/header.html" %}
  <main class="main-content">
        <!--== Start Product Area Wrapper ==-->
        <section class="product-area">
            <div class="container" data-padding-top="62">
              <div class="shopping-wishlist-wrap">
                <div class="row">
                  <div class="col-12">
                    <div class="wishlist-content">
                      <div class="table-responsive">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th class="item-name">Name</th>
                              <th class="item-qty">Qty</th>
                              <th class="item-viewed">Viewed</th>
                              <th class="item-created">Created</th>
                              <th class="item-direct-link">Direct Link</th>
                              <th class="item-default">Default</th>
                              <th class="item-delete">Delete</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for item in wishlist %}
                            <tr>
                              <td class="item-name">
                                <span><a href="#/">{{item.product.name}}</a></span>
                              </td>
                              <td class="item-qty">
                                <span>1</span>
                              </td>
                              <td class="item-viewed">
                                <span>0</span>
                              </td>
                              <td class="item-created">
                                <span>{{item.created_at}}</span>
                              </td>
                              <td class="item-direct-link">
                                <span><a href="{{item.product.get_absolute_url}}">View</a></span>
                              </td>
                              <td class="item-default">
                                <span><i class="fa fa-check-square"></i></span>
                              </td>
                              <td class="item-delete">
                                <span><a href="{% url 'shop:remove_from_wishlist' item.product.id %}"><i class="fa fa-trash"></i></a></span>
                              </td>
                            </tr>
                          {% endfor %}

                          </tbody>
                        </table>
                      </div>
                      <div class="wishlist-footer">
                        <a href="{% url 'shop:homepage' %}" class="btn-wishlist">Home</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--== End Product Area Wrapper ==-->
          
          {% include "shop/contact.html" %}

  </main>
  {% include "shop/footer.html" %}
{% endblock content %}